*{
    background-color: black;
    text-align: center;
}
h1{
    color: rgb(46, 83, 71);
    text-align: center;
    text-transform:uppercase;
    padding-top: 20px;
    padding: 2px;  
    
}
a{
    color:aliceblue;
    text-transform: uppercase;
}